@charset "UTF-8";

body	{
  margin: 0;
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro',sans-serif
}

.box1, .boxA, .box2-inner, .box5-inner {
  padding-left: 10px;
  padding-right: 10px;
}

.box1 {
  padding-top: 8px;
  padding-bottom: 8px;
  .site {
    h1 {
      margin: 0;
      font-size: 30px;
      font-family: "Paytone One", sans-serif;
      font-weight: normal;
      a {
        color: #83a4a8;
        text-decoration: none
      }
    }
  }
}

.box2 {
  background-color: #7cbac1;
  nav.menu {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    li {
      float: left;
      width: auto;
      a {
        display: block;
        padding: 15px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          background-color: #75dbe7;
        }
      }
    }

  }
}


//@media (min-width: 768px) {

.boxA {
//  &:after {
//    content: "";
//    display: block;
//    clear: both
//  }
  .box3 {
    padding-top: 40px;
    padding-bottom: 30px;
//    float: left;
//    width: 70%;
    article.kiji {
      h1 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 36px;
      }
      h2 {
        margin-top: 40px;
        padding-left: 10px;
        border-left: solid 10px #7cbac1;
        font-weight: normal;
      }
      p {
        margin-top: 0;
        margin-bottom: 20px;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      .kijiinfo {
        margin-top: -10px;
        margin-bottom: 20px;
        i {
          margin-right: 5px;
          color: #aaaaaa;
          font-size: 20px;
        }
      }

      .kijicat {
        margin-bottom: 25px;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }

        li a {
          display: block;
          margin-right: 5px;
          padding: 3px 5px;
          border-radius: 2px;
          background-color: #75dbe7;
          color: #ffffff;
          font-size: 12px;
          text-decoration: none;
          &:hover {
            background-color: #94ecf6
          }
        }

        ul:after {
          content: "";
          display: block;
          clear: both;
        }
        li {
          float: left;
          width: auto;
        }

      }
      .share {
        margin-top: 40px;

        .share-tw {
          background-color: #55acee;
        }
        .share-fb {
          background-color: #3b5998;
        }
        .share-gp {
          background-color: #dd4b39;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        li a {
          display: block;
          padding: 10px 5px;
          color: #ffffff;
          font-size: 14px;
          text-align: center;
          text-decoration: none;
        }

        li a:hover {
          opacity: 0.8;
        }

        ul:after {
          content: "";
          display: block;
          clear: both;
        }

        li {
          float: left;
          width: 33.3333%;
        }
      }
    }
    aside.kanren {
      margin-top: 40px;
      padding: 20px;
      padding: 20px;
      background-color: #f0f0d4;
      h1 {
        margin-top: 0;
        margin-bottom: 5px;
        color: #727224;
        font-size: 20px;
        font-weight: normal;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      li a {
        display: block;
        padding: 5px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      ul {
        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }
      li {
        float: left;
        width: 25%;
      }
      img {
        max-width: 100%;
        height: auto;
        border: none;
      }
    }
  }
  .box4 {
    padding-top: 40px;
    padding-bottom: 30px;
//   float: left;
//    width: 30%;
    .sidemenu {
      margin-bottom: 30px;

      h1 {
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: dotted 2px #dddddd;
        color: #666666;
        font-size: 18px;
      }
      i {
        margin-right: 5px;
        color: #888888
      }
      ul {
      margin: 0;
      padding: 0;
      list-style: none;
      }
      li a {
        display: block;
        padding: 5px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          background-color: #eeeeee
        }
      }
    }
    .osusume {
      margin-bottom: 30px;
      h1 {
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: dotted 2px #dddddd;
        color: #666666;
        font-size: 18px;
      }
      img {
        width: 100%;
        height: auto;
        border: none;
        vertical-align: bottom;
      }
      .text {
        padding: 5px 10px;
        background-color: rgba(0,0,0,0.5);
        color: #ffffff
      }
      ul {
      margin: 0;
      padding: 0;
      list-style: none;
      }
      li a {
        display: block;
        margin-bottom: 10px;
        padding: 0px;
        color: #000000;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          background-color: #eeeeee;
          opacity: 0.8;
        }
      }

      li a {
        position: relative;
      }
      .text {
        position: absolute;
        bottom: 0px;
        left:0px;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
    .ninki {
      h1 {
        margin-top: 0;
        margin-bottom: 10px;
        border-bottom: dotted 2px #dddddd;
        color: #666666;
        font-size: 18px;
      }
      ul {
      margin: 0;
      padding: 0;
      list-style: none;
      }
      li a {
        display: block;
        padding: 5px;
        border-bottom: dotted 1px #dddddd;
        color: #2288bb;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          background-color: #eeeeee
        }
        img {
          border: none;
        }
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        img {
          float: left;
          width: 60px;
        }
        .text {
          float: none;
          width: auto;
          margin-left: 60px;
          padding-left: 15px;
        }
        span {
          display: block;
          color: #666666;
          font-size: 12px;
        }
      }
    }
  }
}

//}

.box5 {
  border-top: solid 1px #dddddd;
  padding-top: 15px;
  padding-bottom: 15px;
  .copyright p {
    margin: 0;
    color: #666666;
    font-size: 14px;
  }
}


@media (max-width: 599px) {
  .box1 {
    padding-top: 4px;
    padding-bottom: 4px;
    .site {
      h1 {
        font-size: 26px;
      }
    }
  }
  .box2 {
    nav.menu {
      li a {
        padding:  10px 3px;
        font-size: 11px;
      }
    }
  }
  .boxA {
    .box3 {
      padding-top: 25px;
      article.kiji {
        h1 {
          font-size: 20px;
        }
        .share span {
          display: inline-block;
          text-indent: -9999px;
        }
      }
      aside.kanren {
        padding: 10px;
        li {
            width: 50%;
          &:nth-child(3) {
            clear: both;
          }
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width:767px){
  .box4 {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    .box4-1 {
      float: left;
      width: 50%;
    }
    .box4-2 {
      float: left;
      width: 50%;
    }

    .box4-1 {
      padding-right: 20px;
      .moz-box-sizing: border-box;
      .webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .box4-2 {
      padding-left: 20px;
      .moz-box-sizing: border-box;
      .webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }

}

@media (min-width: 768px) {
  .boxA {
    &:after {
      content: "";
      display: block;
      clear: both
    }
    .box3 {
      float: left;
      width: 70%;
      padding-right: 50px;
      .moz-box-sizing: border-box;
      .webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .box4 {
      float: left;
      width: 30%;
    }
  }
}

@media (min-width: 1040px){
  .box1,.boxA, .box2-inner, .box5-inner  {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
